/* 
paleta de cores;
#10206E
#020E02
#CCC23E
#FFFFDD
#265C00
#E63946 
*/

:root {
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md);
    background-color:  #4C4C59;
}

a {
    text-decoration: none;
    color: #FFFFDD;
}

.sec-lista {
    display: flex;
    gap: var(--spacing-md);
    margin-left: var(--spacing-sm);
}

#sec-1, #sec-3, #sec-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFDD;
    padding: 300px;
}

#sec-2, #sec-4, #sec-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #10206E;
    color: aliceblue;
    padding: 300px;
}

#rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C4C59;
}